<div class="panel panel-primary" id="project_<%= project.id %>">
  <div class="panel-heading">
    <div class="div-project-name-icon">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
    </div>
    <div class="div-project-name"> 
      <b> 
         <%#= project.name %> 
         <%= best_in_place project, :name, :as => :input, :inner_class => "div-project-name-edit",
                                    :activator => "#edit_project_#{project.id}_btn" %>
         <!-- :ok_button => "ok", :ok_button_class => "btn btn-success", :cancel_button => "cancel", :cancel_button_class => "btn btn-warning" --!>
      </b>
<!--      <small> ( id:<%= project.id %> , prioriti:<%= project.priority %>) </small> --!>
    </div>
    <div class="div-project-menu-btns" style="color: #fff">
      <%= render "menu_btns", project: project %>
    </div>
  </div>
</div> 