<div class="panel panel-primary" id="project_<%= project.id %>">
  <div class="panel-heading">
    <div class="div-project-name">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
      <%= project.name %> ( id:<%= project.id %> , prioriti:<%= project.priority %>)
    </div>
    <div class="div-project-menu-btns" style="color: #fff">
      <%= render "menu_btns", project: project %>
    </div>
  </div>
</div> 